{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid mt-2">
        <div class="row mx-1 gap-4">
            <div class="col mb-4">
                {% include 'Core/../partials/explanatory_notes.html' %}
            </div>
            <div class="col mt-3">
                <p class="text-center"> Celkova hmotnost skladu: &nbsp &nbsp &nbsp<strong
                        class="fs-6 p-2  rounded bg-body-secondary">{{ total_weight }} kg</strong>
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-6">
                {% for p in pallets %}
                    {% if 'A' in p.palette.name %}
                        {% include 'Rack/patette_on_rack.html' %}
                    {% endif %}
                {% endfor %}

            </div>
            <div class="col-6">
                {% for p in pallets %}
                    {% if 'B' in p.palette.name %}
                        {% include 'Rack/patette_on_rack.html' %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}