{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between m-0">

            <h5 class="mt-3 fw-bold">
                Paleta {{ palette.name }}
            </h5>

            {#            <div class="mt-3">#}
            {#                <h5>Nalozenych:<b>{% if palette.load_weight == None %}#}
            {#                    0#}
            {#                {% else %}#}
            {#                    {{ palette.load_weight|floatformat:2 }}#}
            {#                {% endif %}#}
            {#                </b> kg</h5>#}
            {#            </div>#}

            <a href="{% url 'add_sheet_to_palette' palette.pk %}" class="btn btn-success mt-3 mb-0" data-toggle="tooltip" data-placement="top"
               title="Nalozit novy plech">
                <i class="fa-sharp fa-solid fa-plus"></i>
            </a>
        </div>
        <hr>
        <div class="card card-scroll border-0 m-0 p-0" style="max-height: 70vh">
            <table class="table table-sm table-striped">
                <thead class="sticky-top">
                <tr>
                    <th>Plech</th>
                    <th>Ks</th>
                    <th>Poznamka</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="sheetTable">
                {% for s in sheets %}
                    <tr id="trData">
                        <td>{{ s.sheet.material }}, {{ s.sheet.surface }}, {{ s.sheet.thickness }}x{{ s.sheet.size_x }}x{{ s.sheet.size_y }}</td>
                        <td>{{ s.quantity }}</td>
                        <td>
                            {% if s.note %}
                                {{ s.note }}
                            {% else %}
                            {% endif %}
                        </td>
                        <td class="m-0 p-0">
                            <div class="d-flex justify-content-end">
                                <a class="btn btn-sm btn-info me-1 " href="{% url 'palette_edit' s.pk %}">
                                    <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                                </a>
                                <a href="{% url 'sheet_on_palette_delete' s.pk %}" class="btn btn-sm btn-danger ">
                                    <i class="fa-sharp fa-solid fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <a href="{% url 'a_rack' %}" class="btn btn-secondary mt-3 mb-0" data-toggle="tooltip" data-placement="top"
               title="Spat">
                <i class="fa-sharp fa-solid fa-arrow-left"></i>
            </a>
        </div>
    </div>
{% endblock %}
