<div class="container-fluid mt-2">
    <div class="row mx-1 gap-4">
        <div class="col mb-4">
            <div class="row gap-1 mb-1">
                <div style="background-color: blue; color: whitesmoke" class="col text-center border rounded">prazdna
                </div>
                <div style="background-color: green; color: whitesmoke" class="col text-center border rounded">nalozena
                </div>
            </div>
            <div class="row gap-2">
                <div style="background-color: darkorange; color: whitesmoke" class="col text-center border rounded">
                    skoro
                    max
                </div>
                <div style="background-color: red; color: whitesmoke" class="col text-center border rounded">pretazena
                </div>
            </div>
        </div>

        <div class="col mt-3">
            <p class="text-center"> Celkova hmotnost skladu: &nbsp &nbsp &nbsp<strong
                    class="fs-6 p-2  rounded bg-body-secondary">{{ total_weight }} kg</strong></p>
        </div>

    </div>


    <div class="row text-center">
        <div class="col-6">
            {% for p in pallets %}
                {% if 'A' in p.palette.name %}
                    {% include 'Core/../Rack/patette_on_rack.html' %}
                {% endif %}
            {% endfor %}

        </div>
        <div class="col-6">
            {% for p in pallets %}
                {% if 'B' in p.palette.name %}
                    {% include 'Core/../Rack/patette_on_rack.html' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>

</div>