<div class="">

    <form role="form" method="POST"
          hx-post="{% url 'add_sheet_to_palette' palette_id %}"
          hx-swap="this"
          hx-target="#formFrame"
                    hx-on="htmx:afterRequest: this.remove()"

            {#          hx-on="htmx:afterRequest: location.reload()"#}
    >
        <div class="">
        <h5 class="font-weight-bolder text-center text-secondary text-gradient">
            Pridat plech</h5>
    </div>
        <input type="hidden" name="palette" value="{{ palette_id }}">
        {#    {{ form }}#}
        <div class="my-4">
            <label for="">Plech</label>
            {{ form.sheet }}
        </div>
        <div class="my-4">
            <label for="">Pocet</label>
            {{ form.quantity }}
        </div>
            <div class="my-4">
            <label for="">Poznamka</label>
            {{ form.note }}
        </div>

        <div class="my-4 text-center">
            <button class="btn btn-sm btn-outline-info" type="submit">Ulozit</button>
            <button class="btn btn-sm btn-outline-secondary" hx-on="click: location.reload()" type="button">Zrusit
            </button>
        </div>
        {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Chyba!</strong>
                <ul>
                    {% for field_errors in form.errors.values %}
                        {% for error in field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </form>
</div>