{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

<div class="">
    {% include 'components/navbar.html' %}
    {% block content %}
    {% endblock %}
</div>
</div>

<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap.esm.min.js' %}"></script>
<script src="{% static 'js/htmx.min.js' %}"></script>
<script>
    document.body.addEventListener('htmx:configRequest', function (evt) {
        evt.detail.parameters['auth_token'] = getAuthToken(); // add a new parameter into the mix
    });
</script>
<script>
    function removeParentElement() {
        var element = document.getElementById("trData");
        if (element) {
            element.remove();
        }
    }
</script>
</body>
</html>


