<div class="container-fluid">
    <div class="row my-2 mx-5">
        <div class="col">Vysvetlivky:</div>
        <div style="background-color: blue; color: whitesmoke" class="col text-center border rounded-2">prazdna</div>
        <div style="background-color: green; color: whitesmoke" class="col text-center border rounded-2">nalozena</div>
        <div style="background-color: darkorange; color: whitesmoke" class="col text-center border rounded-2">blizko max
            hmotnosti
        </div>
        <div style="background-color: red; color: whitesmoke" class="col text-center border rounded-2">pretazena</div>
    </div>
    <div class="row text-center">

        <div class="col-6">
            {% for p in pallets %}
                {% if 'A' in p.palette.name %}
                    {% include 'Core/patette_on_rack.html' %}
                {% endif %}
            {% endfor %}

        </div>
        <div class="col-6">
            {% for p in pallets %}
                {% if 'B' in p.palette.name %}
                    {% include 'Core/patette_on_rack.html' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>