<div class="container">
    <h4 class="text-center mt-2">Paleta {{ palette.name }}</h4>
    <p>Nalozenych:<b>{% if palette.load_weight == None %}
        0
    {% else %}
        {{ palette.load_weight|floatformat:2 }}
    {% endif %}
    </b> kg</p>
    <hr>
    <button class="btn btn-success btn-sm" type="button"
            hx-get="{% url 'add_sheet_to_palette' palette.pk %}"
            hx-target="#editFrame"
            hx-swap="beforeend"
    >Pridat plech
    </button>
    <h5 class="text-center ">Zoznam plechov</h5>
    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th>Plech</th>
            <th>ks</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="sheetTable">
        {% for s in sheets %}
            <tr id="trData">
                <td>{{ s.sheet.material }}, {{ s.sheet.surface }}, {{ s.sheet.tickness }}x{{ s.sheet.size_x }}x{{ s.sheet.size_y }}</td>
                <td>{{ s.quantity }} ks</td>
                <td class="m-0 p-0">
                    <button class="btn btn-sm btn-info" type="button"
                            hx-get="{% url 'palette_edit' s.pk %}"
                            hx-trigger="click"
                            hx-target="#editFrame"
                            hx-swap="afterend"
                    ><i class="fa-sharp fa-solid fa-pen-to-square"></i>
                    </button>
                    <button class="btn btn-sm btn-danger" type="button"
                            hx-post="{% url 'sheet_delete' s.pk %}"
                            hx-trigger="click"
                            hx-confirm="Naozaj chces zmazat plech {{ s }}"
                            hx-on="htmx:afterRequest: removeParentElement()"
                            hx-target="#formFrame"
                    ><i class="fa-sharp fa-solid fa-trash"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>