<div class="container-fluid mt-3">

    <div class="d-flex justify-content-between">
        <h6 class="fw-bold">Zoznam tabul</h6>
        <button class="btn btn-success btn-sm" type="button"
                hx-get="{% url 'sheet_add' %}"
                hx-target="#editFrame"
                hx-swap="this"
        >Vytvorit plech
        </button>
    </div>

    <div class="card-body">
        <table id="sheetListTable" class="table table-sm table-hover">
            <thead>
            <tr>
                <th scope="col">Material</th>
                <th scope="col">Povrch</th>
                <th scope="col">Hrubka</th>
                <th scope="col">Rozmer X</th>
                <th scope="col">Rozmer Y</th>
                <th scope="col">Hmotnost</th>
                <th scope="col">Poznamka</th>

            </tr>
            </thead>
            <tbody>
            {% for sheet in all_sheets %}
                <tr hx-get="{% url 'sheet_detail' sheet.pk %}"
                    hx-trigger="click"
                    hx-target="#formFrame"
                    hx-swap="this"
                    style="cursor: pointer">
                    <td>{{ sheet.material.material_name }}</td>
                    <td>{{ sheet.surface.surface_name }}</td>
                    <td>{{ sheet.thickness }} mm</td>
                    <td>{{ sheet.size_x }} mm</td>
                    <td>{{ sheet.size_y }} mm</td>
                    <td>{{ sheet.weight }} kg</td>
                    <td>
                        {% if sheet.note %}
                            {{ sheet.note }}
                        {% else %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        new DataTable('#sheetListTable', {
            info: true,
            ordering: true,
            paging: true,
            stateSave: true,
        });
    </script>
</div>
