<div class="container-fluid mt-3">
    <table id="example" class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Material</th>
            <th scope="col">Paleta</th>
            <th scope="col">Ks na palete</th>
            <th scope="col">Poznamka</th>
            <th scope="col">Akcia</th>

        </tr>
        </thead>
        <tbody>
        {% for sheet in sheets %}
            {% for palette_sheet in sheet.palettesheet_set.all %}
                <tr>
                    <td>{{ sheet.material }}, {{ sheet.surface }}, {{ sheet.tickness }}x{{ sheet.size_x }}x{{ sheet.size_y }}</td>
                    <td>{{ palette_sheet.palette.name }}</td>
                    <td>{{ palette_sheet.quantity }} ks</td>
                    <td>
                        {% if palette_sheet.note != None %}
                            {{ palette_sheet.note }}
                        {% endif %}
                    </td>
                    <td class="m-0 p-1">
                        <div class="d-flex justify-content-end">
                        <button class="btn btn-sm btn-info me-1" type="button"
                                hx-get="{% url 'palette_edit' palette_sheet.pk %}"
                                hx-trigger="click"
                                hx-target="#editFrame"
                                hx-swap="this"
                        ><i class="fa-sharp fa-solid fa-pen-to-square"></i>
                        </button>
                        <button class="btn btn-sm btn-danger" type="button"
                                hx-post="{% url 'sheet_delete' palette_sheet.pk %}"
                                hx-trigger="click"
                                hx-confirm="Naozaj chces zmazat plech {{ palette_sheet }}"
                                hx-on="htmx:afterRequest: removeParentElement()"
                                hx-target="#formFrame"
                        ><i class="fa-sharp fa-solid fa-trash"></i>
                        </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% empty %}
            <tr>
                <td>{{ sheet.material }}, {{ sheet.surface }}, {{ sheet.tickness }}x{{ sheet.size_x }}x{{ sheet.size_y }}</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/a</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        new DataTable('#example', {
            info: true,
            ordering: true,
            paging: true,
            stateSave: true
        });
    </script>
</div>
