{% extends 'Core/../base.html' %}

{% block login %}
    <div class="vh-100 d-flex align-items-center">
        <div class="card shadow btn btn-primary mx-auto w-25">
            <a href="{% url 'a_rack' %}"
               class="d-flex justify-content-center align-items-center fw-bolder fs-4 nav-link"
               style="height: 300px">
                A-Rack
            </a>
        </div>
        <div class="card shadow btn btn-primary mx-auto w-25 ">
            <a href="{% url 'stock' %}"
               class="d-flex justify-content-center align-items-center fw-bolder fs-4 nav-link"
               style="height: 300px">
                Administracia skladu
            </a>
        </div>
    </div>
{% endblock login %}