body {
    font-size: small;
    background-color: #2f80f8;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.full-screen-card {
    height: 85vh;
}

.form-card {
    height: 50vh;
}

.edit-card {
    height: 32vh;
}

.card-scroll {
    overflow-y: auto;
}

label {
    color: gray;
}

.btn {
    /*border-radius: 0;*/
    margin: 5px;
}

.palette-item {
    cursor: pointer;
    /*margin-bottom: 5px;*/
}

.palette-item:hover {
    box-shadow: black 1px 1px 5px !important;
}

tr.htmx-swap td {
    opacity: 0;
    transition: opacity 1s ease-out;
}


