<div class="m-3">
    <div class="container-fluid row">
        <div class="col-4">
            <div class="p-3 card rounded-0 full-screen-card card-scroll">
                <div class="row">
                    <div id="formFrame"></div>
                </div>
                <div class="row mt-auto">
                    <div id="editFrame"></div>
                </div>
                <div id="invisibleFrame" class="d-none"></div>
            </div>
        </div>
        <div class="col-8">
            <div class="card rounded-0 full-screen-card card-scroll">
                <div id="dataFrame"></div>
            </div>
        </div>
    </div>
</div>
