<nav class="p-0 shadow navbar navbar-expand-sm bg-light bg-opacity-50">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="btn btn-sm btn-outline-primary"
                       href="{% url 'welcome' %}"
                    >Domov
                    </a>
                </li>
                <li class="nav-item">
                    <button class="btn btn-sm btn-outline-primary"
                            type="button"
                            hx-get="{% url 'paletts_list' %}"
                            hx-target="#dataFrame"
                            hx-swap="this"
                            hx-on="click: handleClearEditFrame()"
                    >A-Rack
                    </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-sm btn-outline-primary"
                            type="button"
                            hx-get="{% url 'sheet_list' %}"
                            hx-target="#dataFrame"
                            hx-swap="this"
                            hx-on="click: handleClearEditFrame()"
                    >Zoznam tabul
                    </button>
                </li>
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="btn btn-sm btn-outline-danger" href="/admin/">Admin</a>
                </li>
                {% endif %}
            </ul>
            <div class="d-flex">
                <div class="me-3">{{ user.first_name }} {{ user.last_name }}</div>

                <a href="{% url 'logout' %}"><i class="fa-solid fa-power-off"></i></a>
            </div>
        </div>
    </div>
</nav>