{% extends 'Core/../base.html' %}

{% block content %}
    <div class="container-fluid mt-3">

        <div class="d-flex justify-content-between mb-3">
            <h6 class="fw-bold">Stav skladu celych tabul</h6>
        </div>
        <div class="card-body">
            <table id="stockStatusTable" class="table table-sm">
                <thead class="sticky-top">
                <tr>
                    <th scope="col">Material</th>
                    <th scope="col">Paleta</th>
                    <th scope="col">Ks na palete</th>
                    <th scope="col">Poznamka</th>
                    <th scope="col">Nalozil</th>
                    <th scope="col">Nalozene</th>
                    <th scope="col"></th>

                </tr>
                </thead>
                <tbody>
                {% for sheet in sheets %}
                    {% for palette_sheet in sheet.palettesheet_set.all %}
                        <tr>
                            <td>{{ sheet.material.material_name }}, {{ sheet.surface.surface_name }}, {{ sheet.thickness }}x{{ sheet.size_x }}x{{ sheet.size_y }}</td>
                            <td>{{ palette_sheet.palette.name }}</td>
                            <td>{{ palette_sheet.quantity }} ks</td>
                            <td>
                                {% if palette_sheet.note != None %}
                                    {{ palette_sheet.note }}
                                {% endif %}
                            </td>
                            <td>{{ palette_sheet.created_by.first_name }} {{ palette_sheet.created_by.last_name }}</td>
                            <td>{{ palette_sheet.created_date }}</td>
                            <td class="m-0 p-1">
                                <div class="d-flex justify-content-end">
                                    <a class="btn btn-sm btn-info me-1"
                                       href="{% url 'stock_palette_edit' palette_sheet.pk %}">
                                        <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <a class="btn btn-sm btn-danger"
                                       href="{% url 'sheet_delete' palette_sheet.pk %}">
                                        <i class="fa-sharp fa-solid fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% empty %}
                    <tr>
                        <td>{{ sheet.material }}, {{ sheet.surface }}, {{ sheet.thickness }}x{{ sheet.size_x }}x{{ sheet.size_y }}</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/a</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <script>
            new DataTable('#stockStatusTable', {
                info: true,
                ordering: true,
                paging: true,
                stateSave: true
            });
        </script>
    </div>
{% endblock %}